<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lapau</title>
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>


  <a href="#items-detail" class="skip-link">Skip To Content</a>
  <!-- NAVBAR -->
  <header id="header">
    <div class="logo">
      <h1 for="logo">LAPAU</h1>
    </div>
    <div class="hamburger">
      <a id="hamburger" href="#" aria-label="Expand Menu">☰</a>
    </div>
    <div class="nav-item">
      <a href="index.html" class="active">Home</a>
      <a href="#">Favorite</a>
      <a href="https://www.linkedin.com/in/muhamadapri10/">About Us</a>
    </div>
  </header>
  <!-- END OF NAVBAR -->

  <!-- SIDE BAR -->
  <div id="sidebar">
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li>
        <a href="https://www.linkedin.com/in/muhamadapri10/">About Us</a>
      </li>
    </ul>
  </div>
  <!-- END OF SIDE BAR -->


  <section class="hero-section">
    <h1>Its Not About Food,<br>
      But About Experience</h1>
    <p>We Have Many Best<br> 
      Restaurant Recommendations<br>
      For Your Best Experience</p>
  </section>

  <main id="items-detail">
    <div class="items-description">
      <div class="items-detail-image">
        <img src="/src/public/hero/hero-image_4.jpg" alt="">
      </div>
  
      <div class="items-detail-text">
        <h2>Gubuk Coffe</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident laudantium, illo sapiente assumenda distinctio, nisi id blanditiis corporis voluptatum labore quam commodi quidem, ratione excepturi consequatur explicabo quo animi. Laudantium cumque repudiandae molestias, unde officiis labore maiores doloribus sed quod! Odit explicabo numquam facilis vel nostrum obcaecati laborum amet vitae omnis nemo porro sed et, quia corporis unde. Facilis cumque id assumenda totam ab, blanditiis quaerat enim quibusdam laudantium veniam, nihil magnam doloremque repellendus sit eveniet tempora quisquam. Neque adipisci temporibus architecto reprehenderit eaque voluptatem itaque delectus ea animi soluta, officia id accusamus enim quo magni fuga dignissimos rem incidunt?</p>
        <br><br>
        <p class="alamat">~ Medan, Jln. Belimbing Timur no 27 ~</p>
      </div>
    </div>

    <div class="foods-and-drinks">
      <div class="foods">
        <h3>Foods</h3>
        <ul>
          <li>Nasi Goreng</li>
          <li>Ayam Geprek</li>
          <li>Ayam Nasi Pecel</li>
          <li>Ayam Bawang</li>
        </ul>
      </div>
      <div class="drinks">
        <h3>Drinks</h3>
        <ul>
          <li>Teh Obeng</li>
          <li>Jus Jeruk Peras</li>
          <li>Air Mineral</li>
          <li>Jus Mangga</li>
        </ul>
      </div>
    </div>

    <div class="reviews">
      <di class="reviews-title">
        <h2>Reviews</h2>
        <p>What our customers think about us</p>
      </di>

      <div class="reviews-items">
        <div class="reviews-item">
          <h3>Argus Legends</h3>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima blanditiis provident recusandae nostrum molestias laudantium quia aspernatur libero iure, saepe sunt tempore.</p>
        </div>

        <div class="reviews-item">
          <h3>Argus Legends</h3>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima blanditiis provident recusandae nostrum molestias laudantium quia aspernatur libero iure, saepe sunt tempore.</p>
        </div>

        <div class="reviews-item">
          <h3>Argus Legends</h3>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima blanditiis provident recusandae nostrum molestias laudantium quia aspernatur libero iure, saepe sunt tempore.</p>
        </div>

        <div class="reviews-item">
          <h3>Argus Legends</h3>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima blanditiis provident recusandae nostrum molestias laudantium quia aspernatur libero iure, saepe sunt tempore.</p>
        </div>


        <div class="reviews-item">
          <h3>Argus Legends</h3>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima blanditiis provident recusandae nostrum molestias laudantium quia aspernatur libero iure, saepe sunt tempore.</p>
        </div>

        <div class="reviews-item">
          <h3>Argus Legends</h3>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima blanditiis provident recusandae nostrum molestias laudantium quia aspernatur libero iure, saepe sunt tempore.</p>
        </div>
      </div>
    </div>

    <div class="add-reviews">
      <div class="add-reviews-title">
        <h2>Add Reviews</h2>
        <p>What do you think about us</p>
      </div>

      <div class="add-reviews-form">
        <form action="">
          <label for="">Your Name</label>
          <br>
          <input type="text" name="" id="">
          
          <br>
          <label for="">Your Comment</label>
          <br>
          <textarea name="" id="" cols="30" rows="10"></textarea>

          <br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>



  <footer id="footer-section">
    <p>~~Design with <span>love</span> by abgvin~~</p>
  </footer>


<script src="../scripts/script.js"></script>
</body>
</html>