<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lapau</title>
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>


  <a href="#main-section" class="skip-link">Skip To Content</a>
  <!-- NAVBAR -->
  <header id="header">
    <div class="logo">
      <h1 for="logo">LAPAU</h1>
    </div>
    <div class="hamburger">
      <a id="hamburger" href="#" aria-label="Expand Menu">☰</a>
    </div>
    <div class="nav-item">
      <a href="index.html" class="active">Home</a>
      <a href="#">Favorite</a>
      <a href="https://www.linkedin.com/in/muhamadapri10/">About Us</a>
    </div>
  </header>
  <!-- END OF NAVBAR -->

  <!-- SIDE BAR -->
  <div id="sidebar">
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li>
        <a href="https://www.linkedin.com/in/muhamadapri10/">About Us</a>
      </li>
    </ul>
  </div>
  <!-- END OF SIDE BAR -->


  <section class="hero-section">
    <h1>Its Not About Food,<br>
      But About Experience</h1>
    <p>We Have Many Best<br> 
      Restaurant Recommendations<br>
      For Your Best Experience</p>
  </section>

  <section class="title-section">
    <div class="title">
      <h1>Best of The Best</h1>
      <p>Our Best Restaurant Just For You</p>
    </div>
  </section>

  <main id="main-section">
    <div class="box">
      <img src="/src/public/hero/hero-image_4.jpg" alt="">
      <div class="text">
        <h2><a href="detail.html">Gubuk Coffe</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt molestiae eos atque aperiam veritatis quasi deleniti reprehenderit rerum fugit.</p>
      </div>
      <div class="rating">
        <span class="material-icons yellow">star_rate</span> 4.6
        <span class="material-icons red">location_on</span> Padang, Sumbar
      </div>
    </div>

    <div class="box">
      <img src="/src/public/hero/hero-image_4.jpg" alt="">
      <div class="text">
        <h2><a href="detail.html">Gubuk Coffe</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt molestiae eos atque aperiam veritatis quasi deleniti reprehenderit rerum fugit.</p>
      </div>
      <div class="rating">
        <span class="material-icons yellow">star_rate</span> 4.6
        <span class="material-icons red">location_on</span> Padang, Sumbar
      </div>
    </div>

    <div class="box">
      <img src="/src/public/hero/hero-image_4.jpg" alt="">
      <div class="text">
        <h2><a href="detail.html">Gubuk Coffe</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt molestiae eos atque aperiam veritatis quasi deleniti reprehenderit rerum fugit.</p>
      </div>
      <div class="rating">
        <span class="material-icons yellow">star_rate</span> 4.6
        <span class="material-icons red">location_on</span> Padang, Sumbar
      </div>
    </div>

    <div class="box">
      <img src="/src/public/hero/hero-image_4.jpg" alt="">
      <div class="text">
        <h2><a href="detail.html">Gubuk Coffe</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt molestiae eos atque aperiam veritatis quasi deleniti reprehenderit rerum fugit.</p>
      </div>
      <div class="rating">
        <span class="material-icons yellow">star_rate</span> 4.6
        <span class="material-icons red">location_on</span> Padang, Sumbar
      </div>
    </div>

  </main>

  <footer id="footer-section">
    <p>~~Design with <span>love</span> by abgvin~~</p>
  </footer>


<script src="../scripts/script.js"></script>
</body>
</html>